lib
tmp
bin
depends
built
build
xcuserdata
project.xcworkspace
.DS_Store
*~
*.o
*.orig
*.p4r
*.pyc
*.ncb
*.suo
*.vcproj.*
*.vcxproj.*
*.sdf
*.swp
j
j0
j1
j2
save
Debug
results.txt
testing/*/*.exe
testing/*/*.dll
testing/*/*.so
testing/*/*.so.1
testing/*/*.dylib
testing/*/gold
